<div class="post">
    <div id="post-title">
        <a href="/post/{{id}}">
            {{title}}
        </a>
    </div>
    <div class="author">
        <p id="user">
            By {{user.username}} on {{formatDate created_at}}
        </p>
    </div>
    <div class="post-content">
        <p>{{content}}</p>
    </div>
</div>